// Desktop styles.

@media all and (min-width: 960px) {

  #page,
  .region-bottom {
    max-width: 960px;
  }

  .menu li {
    float: left;
  }

  #header {
    overflow: hidden;
  }

  #footer {
    border-top: 1px solid $grey_border;
    padding: 40px 35px 0;
  }

  .header__region {
    clear: none;
    float: right;
  }

  /* Header menu */
  #block-menu-menu-header-menu {
    overflow: hidden;
    float: right;
    margin-right: 30px;
    li.first a {
      background: image-url('twitter-icon.png') 0 0 no-repeat;
      display: block;
      margin-top: 5px;
      margin-right: 25px;
      text-indent: -10000px;
      width: 18px;
      height: 15px;
    }
    li.last:before {
      content: "|";
      color: $blue_menu;
      padding: 8px;
    }
    a {
      color: $blue_menu;
    }
  }

  #block-system-main-menu {
    clear: both;
    overflow: hidden;
    li {
      margin-left: 40px;
    }
  }


  /* Home page Slider */
  .view-display-id-slider {
    margin-bottom: 30px;
    padding: 0 20px;
    .views-slideshow-cycle-main-frame-row {
      width: 100%;
    }
    .views-slide-copy {
      float: left;
      width: 450px;
      .slide-title {
        font-size: 32px;
        max-height: 140px;
      }
    }
    .views-field-field-slide-image {
      float: right;
      width: 285px;
    }
    .views-slideshow-controls-bottom {
      bottom: 20px;
      text-align: center;
    }
  }


  /* Recent blogs */
  .view-display-id-recent_blogs {
    overflow: hidden;
    margin-left: -2px;
  }
  .view-display-id-recent_blogs .views-row {
    float: left;
    margin-right: 18px;
    width: 260px;
    &.views-row-last {
      margin-right: 0;
    }
  }


  /* Footer mini panel */
  #mini-panel-footer_panel .footer-twitter {
    a {
      background: image-url('footer-twitter-icon.png') 100% 50% no-repeat;
      color: $blue;
      display: inline-block;
      line-height: 30px;
      padding-right: 55px;
      text-transform: uppercase;
    }
  }
  #mini-panel-footer_panel .panel-col-last {
    text-align: right;
    p {
      margin: 0;
    }
    .pane-menu-menu-footer-menu {
      float: right;
      overflow: hidden;
      li:after {
        content: "|";
        color: $blue;
        padding: 0 5px;
      }
      li.last:after {
        content: "";
        padding: 0;
      }
      a {
        font-size: 14px;
      }
    }
    .pane-custom-copyright {
      clear: both;
    }
  }

}
