// Global mobile first styles.

a,
.menu a.active {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#header,
#footer {
  background-color: $grey_bg;
}

#header {
  padding: 20px 10px;
}

#main {
  margin-bottom: 40px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Home page Slider */
.view-display-id-slider {
  position: relative;
  p {
    margin: 0;
  }
  .views-slide-copy {
    width: 80%;
    .slide-title {
      color: $grey_title;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 20px;
      overflow: hidden;
      text-transform: uppercase;
    }
    .slide-body {
      font-size: 12px;
      line-height: 1.5;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .views-slideshow-controls-bottom {
    position: absolute;
    width: 100%;
    z-index: 4;
  }
  .views-slideshow-pager-field-item {
    background: image-url('slider-controls.png');
    display: inline-block;
    margin-right: 7px;
    text-indent: -10000px;
    height: 13px;
    width: 13px;
    &.active {
      background-position: 0 -13px;
    }
    &:hover {
      background-position: 0 -13px;
      cursor: pointer;
    }
  }
}

// Recent Blogs
.view-display-id-recent_blogs {
  p {
    margin: 0;
  }
  .views-row {
    border: 1px solid $grey_border;
    margin-bottom: 20px;
    padding: 30px 20px 0;
    position: relative;
    height: 278px;
    .views-field-field-blog-teaser-title {
      font-size: 14px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .views-field-field-blog-teaser-text {
      font-size: 12px;
      line-height: normal;
      margin-bottom: 20px;
      width: 170px;
    }
    .views-field-field-blog-button-text a {
      color: white;
      float: left;
      font-size: 12px;
      padding: 5px 20px;
      text-transform: uppercase;
      &.blog-red {
        background-color: $red;
      }
      &.blog-green {
        background-color: $green;
      }
      &.blog-purple {
        background-color: $purple;
      }
    }
    .views-field-field-blog-teaser-image {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      img {
        display: block;
      }
    }
  }
}


/* Blogs landing page */
.page-blogs {
  h1 {
    margin-bottom: 30px;
  }
}
.view-display-id-blogs_landing {
  .views-row {
    margin-bottom: 20px;
  }
  .views-field-created {
    font-size: 12px;
    font-style: italic;
  }
  .views-field-name {
    font-size: 14px;
    .field-content {
      font-weight: bold;
    }
  }
}


/* Tags block */
.pane-tags {
  h2 {
    margin: 0;
  }
}
