// Mobile styles.

@media all and (max-width: 480px) {

  // Hide elements for mobile.
  #block-menu-menu-header-menu,
  .panel-2col .panel-col-first,
  .pane-custom-copyright,
  #mini-panel-footer_panel .pane-menu-menu-footer-menu li.first {
    display: none;
  }

  #content {
    padding: 0 20px;
  }

  .main-content {
    width: 100%;
  }

  .sidebar {
    float: none;
    width: 100%;
  }

  #footer {
    padding: 20px 0 40px;
  }

  .panel-2col .panel-col-last .inside {
    margin: 0;
  }

  // Responsive menu.
  .responsive-menus.responsified {
    position: relative;
    span.toggler {
      background: none;
      border-radius: 0;
      box-shadow: none;
      color: $grey_title;
      font-size: 4em;
      position: absolute;
      right: 0;
      top: -90px;
      width: 30%;
    }
  }
  .responsive-menus.responsified.responsive-toggled span.toggler {
    border: none;
  }
  .responsive-menus.responsified .responsive-menus-simple {
    background-color: $grey_bg;
    border-radius: 0;
    box-shadow: none;
    li a {
      border-bottom-color: $grey_border;
      color: $red;
    }
  }

  // Home page Slider.
  .view-display-id-slider #views_slideshow_cycle_teaser_section_slides-slider {
    overflow: visible !important;
  }
  .view-display-id-slider {
    margin-bottom: 50px;
    .views-slide-copy {
      position: relative;
      z-index: 1;
      .slide-title {
        font-size: 25px;
        max-height: 110px;
      }
      .slide-body {
        width: 69%;
        max-height: 130px;
        overflow: hidden;
      }
    }
  }

  .views-field-field-slide-image {
    position: absolute;
    top: 0;
    right: -20px;
    z-index: -1;
    img {
      max-width: 220px;
    }
  }

  .view-display-id-slider .views-slideshow-controls-bottom {
    bottom: -25px;
  }

  // Footer
  .panel-2col .panel-col-last {
    width: 100%;
    text-align: center;
    .pane-menu-menu-footer-menu a {
      border-bottom: 1px solid $grey_border;
      font-weight: bold;
      display: block;
      padding: 10px;
      text-transform: uppercase;
    }
  }

}
